<table>
    <thead>
        <tr>
            <th>
                About
            </th>
            <th>
                Contract Length
            </th>
            <th>
                Speed/Usage
            </th>
            <th>
                Offer
            </th>
            <th>
                TV
            </th>
            <th>
                Mobile
            </th>
            <th>
                Cost
            </th>
        </tr>
    </thead>
    <tr ng-repeat="deal in $ctrl.deals">
        <td>{{deal.title}}</td>
        <td>{{deal.contractLength}} Months</td>
        <td>{{deal.speed.label}}MB<br>{{deal.usage.label}}</td>
        <td><img ng-src="{{deal.offer.smallLogo}}" alt="{{deal.offer.title}}" /> </td>
        <td>
            <div ng-repeat="channel in deal.popularChannels">
                <img ng-src="{{channel.logo}}" alt="{{channel.name}}" />
            </div>
        </td>
        <td>
            <div ng-show="deal.mobile">
                <p>Data: {{deal.mobile.data.label}}</p>
                <p>Minutes: {{deal.mobile.minutes.label}}</p>
                <p>Texts: {{deal.mobile.texts.label}}</p>
                <p>Connection: {{deal.mobile.connectionType.label}}</p>
            </div>
        </td>
        <td>
            £{{deal.prices[0].totalContractCost}}
        </td>
    </tr>
</table>